* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s ease all;
    scroll-behavior: smooth;
}

:root {
    --light-gray: #d0d0d0;
}

.goUpBtn {
    position: fixed;
    z-index: 10;
    background-color: var(--light-gray);
    padding: 1rem 1.5rem;
    font-size: 2rem;
    border-radius: 50%;
    display: none;
    bottom: 5%;
    right: 2%;
    color: #576182;
    animation: popup .2s ease-in-out;
}

@keyframes popup {
    0%{
        opacity: 0;
    }

    50%{
        opacity: .5;
    }

    100%{
        opacity: 1;
    }
}


main {
    height: 100svh;
    background-image: url('img/main_bg.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-snap-align: end;
    scroll-snap-type: y mandatory;
    overflow: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    transform: translateY(-8rem);
}

.main-container img {
    width: clamp(20rem, 80vw, 40rem);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 3rem;
}

nav a {
    font-family: "Inconsolata", monospace;
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--light-gray);
    position: relative;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--light-gray);
    bottom: calc(0% - 4px);
    left: 0;

    transform: scaleX(0);
    transform-origin: left;
    transition: transform .2s ease;
}

main .foto-banda {
    width: 100%;
    position: absolute;
    top: 50%;
}

main i {
    position: absolute;
    bottom: 3%;
    z-index: 5;
    font-size: 2rem;
    opacity: .7;
}



.album {
    height: 100svh;
    background-image: url('img/dark_bg.jpg');
    background-size: cover;
}



@media (hover: hover) {
    nav a:hover::after {
        transform: scaleX(1);
    }
}